# .net build artiifacts
bin/
obj/
/packages/

Lagrange.Core/Utility/Crypto/Provider/Dandelion/*.cs

# vscode files
.vscode/

# rider files
.idea/
*.DotSettings.user
riderModule.iml
/_ReSharper.Caches/

.DS_Store

docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/api
